<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BIBA's URL shortener</title>
</head>
<body>
    <div style="display: flex;justify-content: center;align-content: center; text-align: center;">
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit" name="button">Save</button>
    </form>
    <h1>{{ a }}</h1>
    </div>
    <div class="saved_urls">
    <h3>Saved urls in database</h3>
    <ul>
        {% for i in saved_urls %}
        <li>{{ i.long_url }} : {{  i.short_url }}</li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>

